@import "../../../styles.scss";

.pbook-title {
  font-family: var(--font);
  color: var(--font-color);
  width: 35vw;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3vw;
  font-size: var(--header-font);
  user-select: none;
  margin: 0;
  padding: 0;
}

.wrapper2 {
  background-color: var(--primary-color);
  width: 35vw;
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  height: 20vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-style: solid;
  border-color: var(--secondary-color);
  border-width: 0.2vw;

  .avatar {
    @include flexCenter;
    height: 15vh;
    width: 15vh;
    border-style: solid;
    border-width: 0.5;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    font-size: 5vw;
    border-radius: 50%;
    user-select: none;
    margin-left: 1vw;
  }
  .info {
    width: max-content;
    min-width: 20vw;
    color: var(--font-color);
    h1 {
      margin: 0;

      font-size: var(--header-font);
    }
    h3 {
      margin: 0;
      font-size: var(--sub-header);
    }
  }
  .actions {
    color: var(--secondary-color);
    width: 4vw;
    @include flexCenter;
    gap: 3vh;
    flex-direction: column;
    span {
      cursor: pointer;
      user-select: none;
    }
    #edit:hover {
      color: var(--font-color);
    }
    #delete:hover {
      color: var(--icon-color);
    }
  }
}
